<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="LoadFileData" />
  <assembly name="LoadFileData.Web" />
  <namespace name="LoadFileData.DAL" />
  <namespace name="LoadFileData.Web" />
  <namespace name="LoadFileData.FileHandlers" />
  <container>
    <register type="IDataService" mapTo="DataService" />
    <register type="IFileHandlerSettingsFactory" mapTo="FileHandlerSettingsFactory" />
    <register type="IStreamManager" mapTo="StreamManager" />
    <register type="IContentReaderFactory" mapTo="ContentReaderFactory" />
    <register type="IContentHandlerFactory" mapTo="ContentHandlerFactory" />
    <register type="IServiceFactory" mapTo="ServiceFactory" />
    <register type="ITypeMapFactory" mapTo="TypeMapFactory" />
  </container>
</unity>